<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav>
	    <div class="nav-wrapper container">
	    	<a class="brand-logo">Daniel Stahl</a>
	      	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		    <ul class="right hide-on-med-and-down">
		    	<li><%= link_to 'Welcome'.html_safe, welcome_path %></li>
				<li><%= link_to 'About me'.html_safe, aboutme_path %></li>
				<li><%= link_to 'Projects'.html_safe, projects_path %></li>
				<li><%= link_to 'Blog'.html_safe, 'https://medium.com/@danielstahl' %></li>
				<li><%= link_to 'Contact'.html_safe, new_contact_path %></li>
		    </ul>
		    <ul class="side-nav" id="mobile-demo">
		        <li><%= link_to 'Welcome'.html_safe, welcome_path %></li>
				<li><%= link_to 'About me'.html_safe, aboutme_path %></li>
				<li><%= link_to 'Projects'.html_safe, projects_path %></li>
				<li><%= link_to 'Blog'.html_safe, 'https://medium.com/@danielstahl' %></li>
				<li><%= link_to 'Contact'.html_safe, new_contact_path %></li>
		    </ul>
	    </div>
  	</nav>

	<!-- <main> -->
		<%= yield %>
	<!-- </main> -->

	<footer class="page-footer">
		<div class="container">
			<ul>
				<li>Github</li>
				<li>Snapchat</li>
				<li>Twitter</li>
			</ul>
			<p>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
		</div>
	</footer>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>	
</body>
</html>
